*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
footer{
    height: 15vh;
    background: #000;
}

aside{
    height:70vh;
    width: 25vw;
    background:teal;
}


